@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main-bg: #111111;
  --color-main-text: #fafafa;
  --color-sec-text: #d5d5d5;
  --color-third-text: #2a2a2a;
  --color-main-border: #2a2a2a;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-grid: var(--font-geist-pixel-grid);
  --font-pixel-circle: var(--font-geist-pixel-circle);
  --font-pixel-triangle: var(--font-geist-pixel-triangle);
  --font-pixel-line: var(--font-geist-pixel-line);
}

@variant light (&:where([data-theme="light"], [data-theme="light"] *));

@media (prefers-color-scheme: light) {
  :root {
    --color-main-bg: #eeeeee;
    --color-main-text: #050505;
    --color-sec-text: #2a2a2a;
    --color-third-text: #d5d5d5;
    --color-main-border: #d5d5d5;
  }
}

@light {
  --color-main-bg: #eeeeee;
  --color-main-text: #050505;
  --color-sec-text: #2a2a2a;
  --color-third-text: #d5d5d5;
  --color-main-border: #d5d5d5;
}

@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-main-bg text-main-text border-main-border font-sans;
  }
}

/* Masonry CSS */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
